#root {
  margin: 0 auto;

  text-align: center;
}
body {
  @apply box-border w-full m-0 text-aurometalaaurus ;
  font-family: "Inter-Regular";
}

 /* scrollbar design  */
::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;

}
button:disabled{
  @apply  bg-gray-100 border text-black border-gray-300 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}



.header {
  @apply sticky top-0 z-40 font-inter-regular flex  h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8 justify-between;
}

.sidebarContent {
  @apply flex grow flex-col overflow-y-auto bg-white px-6 py-4;
}

.chatbox{
    height: calc( 100vh - 64px);
}

.typingIndicatorContainer {
  display: flex;
  flex: none;
  align-items: flex-end;

}

.typingIndicatorBubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 40px;
  margin: 0px 8px;
  background-color: #f0f1f1;
  border-radius: 12px;
}

.typingIndicatorBubbleDot {
  width: 4px;
  height: 4px;
  margin-right: 4px;
  background-color: #57585a;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.typingIndicatorBubbleDot:first-of-type {
  margin: 0px 4px;
}

.typingIndicatorBubbleDot:nth-of-type(2) {
  animation-delay: 0.15s;
}

.typingIndicatorBubbleDot:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-4px);
  }
}

.chatUserList{
  height: calc(100vh - 122px);
}

.emoji-container {
  @apply !absolute bottom-full;
}
.emoji-container aside.EmojiPickerReact.epr-main {
  @apply !w-full;
}