

body {
  @apply box-border w-full m-0 text-aurometalaaurus ;
  font-family: "Inter-Regular";
}

 /* scrollbar design  */
::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
body {
@apply dark:bg-dark;
  background-color: #fff;
  text-align: center;
  height: 100vh;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

input:disabled{
  @apply  bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500
}
button:disabled{
  @apply  bg-gray-100 border border-gray-300 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.svg_icon svg{
@apply !w-[30px] !h-[30px]
}

.sidebarContent {
  @apply flex grow flex-col overflow-y-auto bg-white px-6 pb-4;
}

.sidebarList {
  @apply flex gap-x-3 rounded-md p-2 text-sm leading-6 font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-100 items-center;
}
.sidebarListActive {
  @apply flex gap-x-3 rounded-md p-2 text-sm leading-6 font-medium   text-gray-900 bg-gray-100;
}
.sidebarListActive svg path {
  stroke: #6b7280 !important;
}
.sidebarListActive svg path {
  @apply stroke-aurometalaaurus;
}
.sidebarListActive svg path {
  stroke: #6b7280 !important;
}
.sidebarList svg{
  @apply h-[24px] w-[24px]
}


.tableGroup {
  @apply border border-gray-200 border-solid  rounded-[0.5rem] max-w-[100rem] w-full;
  min-height: calc(100vh - 238px);
  max-height: calc(100vh - 238px);

}
.tableContent {
  @apply min-w-full divide-y divide-gray-300 p-4 overflow-hidden;
}

.tableData {
  @apply whitespace-nowrap px-3 py-4 text-sm text-aurometalaaurus;
}
.tableData .tableData__status {
  @apply text-[#065F46] font-medium bg-[#D1FAE5] rounded-md px-[0.625rem] py-[0.375rem] cursor-auto;
}
.tableHeader {
  @apply px-3 py-3.5 text-center text-sm font-medium text-aurometalaaurus uppercase;
}
.tableDetail {
  @apply relative whitespace-nowrap py-4 pl-3 pr-4  text-sm font-medium;
}
.tableDetail button {
  @apply text-indigo-600 hover:text-indigo-900 underline decoration-1;
}
.tableBody {
  @apply divide-y divide-gray-200;
}

canvas {
  @apply mx-auto !h-auto !max-w-[222px] object-contain;
}


