@font-face {
  font-family: "InterRegular";
  src: url("../fonts/Inter-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "InterMedium";
  src: url("../fonts/Inter-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "InterSemiBold";
  src: url("../fonts/Inter-SemiBold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "InterBold";
  src: url("../fonts/Inter-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "InterExtraBold";
  src: url("../fonts/Inter-ExtraBold.ttf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "hindi";
  src: url("../fonts//TiroDevanagariHindi-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
